<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>IsStudent</th>
                <th>Education</th>
                <th>Occupation</th>
                <th>HouseholdIncome</th>
                <th>NumberOfPeopleLiving</th>
                <th>Weight</th>
                <th>Height</th>
                <th>IsMarried</th>
                <th>TreatedByPhysician</th>
                <th>PreExistingOrSmoker</th>
                <th>GenderId</th>

            </tr>
        </thead>
    </table>
</div>