<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger Nixon</td>

            </tr>
        </tbody>
    </table>
</div>