<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Insurance</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="top_header">
            <div class="container">
                <div class="topH_inner">
                    <div class="site_logo">
                        <a href="index.html">
                            <img src="https://findqualityinsurance.com/wp-content/uploads/2017/07/fqi-logo.png"
                                 alt="logo">
                        </a>
                    </div>
                    <div class="header_cta">
                        <div class="social_header">
                            <a href="#"><span><i class="fab fa-facebook-f"></i></span></a>
                            <a href="#"><span><i class="fab fa-twitter"></i></span></a>
                        </div>
                        <div class="call_header">
                            <a href="#">
                                <button>

                                    <span>
                                        <i class="fas fa-phone-alt"></i>
                                    </span>
                                    <span>
                                        <h3>Talk to an Expert</h3>
                                        <h2>855-967-0999</h2>
                                    </span>

                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-btoom-Nav -->
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a asp-controller="Insurance" asp-action="MedicareInsurance">Medical Insurance</a>
                        </li>
                        <li>
                            <a asp-controller="Insurance" asp-action="HealthInsurance">Health Insurance</a>
                        </li>
                        <li>
                            <a asp-controller="Insurance" asp-action="LifeInsurance">Life Insurance</a>
                        </li>
                        <li>
                            <a asp-controller="Insurance" asp-action="FinalExpense">Final Expense</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header end -->
    <div class="hi_form">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - InsuranceCompany - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>

    <!--Toaster Message-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
