@model DTO.LifeInsuranceDTO.LifeInsuranceDTO;


@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!-- life banner -->
<div class="cg-section">
    <div class="wpb_row vc_row-fluid banner-img vc_custom_1502448255978" style="background-image: url('../img/health-insurance-slide6.jpg')">
        <div class="container">
            <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-xs">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <div class="vc_row wpb_row vc_inner vc_row-fluid inner-banner-txt home-insurance-banner vc_row-o-equal-height vc_row-o-content-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div class="icons life-icon icon-family-care"></div>
                                                <h2>Life Insurance</h2>
                                                <h3>Plan for tomorrow, TODAY with Life Insurance!</h3>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Health insurance form -->
<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="POST" action="@Url.Action("LifeInsurance","Insurance")">
                    <div class="row">
                        <input type="hidden" asp-for="GenderId" value="1" />
                        <input type="hidden" asp-for="IpAddress" />
                        <input type="hidden" asp-for="LeadID" />
                        <input id="leadid_token" name="universal_leadid" type="hidden" value="" />

                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" asp-for="FirstName">
                                    <label class="form-control-placeholder" for="fname">First name </label>
                                    <span asp-validation-for="FirstName" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" asp-for="LastName">
                                    <label class="form-control-placeholder" for="lname">Last name</label>
                                    <span asp-validation-for="LastName" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" asp-for="Email">
                                    <label class="form-control-placeholder" for="email">Email</label>
                                    <span asp-validation-for="Email" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Gender</label>
                                <div class="gender_option">
                                    <label class="Lbtn Genderbtn1 active" role="button">
                                        <input class="check" type="radio" value="Male" name="Gender"
                                               checked="checked"> Male
                                    </label>
                                    <label class="Lbtn Genderbtn2" role="button">
                                        <input class="check" type="radio" value="Female" name="Gender"> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="tel" id="phone" class="form-control" asp-for="HomePhoneNumber">
                                    <label class="form-control-placeholder" for="phone">Phone Number</label>
                                    <span asp-validation-for="HomePhoneNumber" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="address" class="form-control" asp-for="Address">
                                    <label class="form-control-placeholder" for="address">Street Address</label>
                                    <span asp-validation-for="Address" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="number" id="zip" class="form-control" asp-for="ZipCode">
                                    <label class="form-control-placeholder" for="zip">Zip Code</label>
                                    <span asp-validation-for="ZipCode" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <div class="row mt-5">
                        <div class="col-6 ">
                        </div>
                        <div class="col-6 ">
                            <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                    class="btn btn-primary form-btn continue"
                                    type="submit">
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col">
                            <div class="checkbox checkbox-success">
                                <input id="leadid_tcpa_disclosure" type="checkbox">
                                <label for="leadid_tcpa_disclosure">
                                    <strong>By clicking Submit, you agree to our <a href="/privacy-policy" target="_blank">Privacy Policy</a></strong>.<br>You further provide your express consent by electronic signature to be contacted by Trusted Consumer and our <a href="javascript:void(0);" data-toggle="modal" data-target="#providers" id="show_providers">providers</a> agents via: automated telephone dialing systems, artificial or prerecorded voices, by email, SMS text message or live agent to the phone number provided. Your phone carrier's message and data rates may apply. I understand I can revoke this consent at any time and consent is not required as a condition of purchase.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <script id="LeadiDscript" type="text/javascript">
                    (function () {
                        var s = document.createElement('script');
                        s.id = 'LeadiDscript_campaign';
                        s.type = 'text/javascript';
                        s.async = true;
                        s.src = '//create.lidstatic.com/campaign/7e697d33-5cc2-858a-aa67-cc5774491ddb.js?snippet_version=2';
                        var LeadiDscript = document.getElementById('LeadiDscript');
                        LeadiDscript.parentNode.insertBefore(s, LeadiDscript);
                    })();
                </script>
                <noscript>
                    <img src='//create.leadid.com/noscript.gif?lac=3b9bdcb5-5bdd-309b-4a40-2eeae851dbb5&lck=7e697d33-5cc2-858a-aa67-cc5774491ddb&snippet_version=2' />
                </noscript>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
                <div class="insurance-type wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="helpline-TN">
                                        <div class="fa fa-phone"></div>
                                        <div class="helpline">
                                            <p>Want to speak to someone now?</p>
                                            <h3 class="LPScriptNumber">(833) 286-3623</h3>
                                        </div>
                                    </div>
                                    <h3>Looking for a better <strong>Health Insurance</strong> experience</h3>
                                    <p><strong>FindQualityInsurance.com</strong> can connect you with the leading carriers. Fill out the form or call us to get started!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(".Genderbtn1").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=Gender]").attr('checked', true);
            }
            $(".Genderbtn2").removeClass("active");
            $(this).addClass("active");
            $('#GenderId').val(1);
        });
        $(".Genderbtn2").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=Gender]").attr('checked', true);
            }

            $(".Genderbtn1").removeClass("active");
            $(this).addClass("active");
            $('#GenderId').val(2);
        });

        const ipFormInput = document.getElementById('IpAddress');
        fetch('https://api.ipify.org?format=json')
            .then((response) => { return response.json() })
            .then((json) => {
                const ip = json.ip;
                ipFormInput.value = ip;
            })
            .catch((err) => { console.error(`Error getting IP Address: ${err}`) })

        $('#shortHealthSlideOne').click(function () {
            let Id = $('#leadid_token').val()
            $('#LeadID').val(Id);
        });

    </script>

}