@model DTO.LifeInsuranceDTO.LifeInsuranceDTO;


@{
    Layout = "~/Views/Shared/_layout.cshtml";
}

<!-- Health insurance form -->
<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="POST" action="@Url.Action("LifeInsurance","Insurance")">
                    <div class="row">
                        <input type="hidden" asp-for="GenderId" value="1" />

                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" asp-for="FirstName">
                                    <label class="form-control-placeholder" for="fname">First name </label>
                                    <span asp-validation-for="FirstName" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" asp-for="LastName">
                                    <label class="form-control-placeholder" for="lname">Last name</label>
                                    <span asp-validation-for="LastName" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" asp-for="Email">
                                    <label class="form-control-placeholder" for="email">Email</label>
                                    <span asp-validation-for="Email" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Gender</label>
                                <div class="gender_option">
                                    <label class="Lbtn Genderbtn1 active" role="button">
                                        <input class="check" type="radio" value="Male" name="Gender"
                                               checked="checked"> Male
                                    </label>
                                    <label class="Lbtn Genderbtn2" role="button">
                                        <input class="check" type="radio" value="Female" name="Gender"> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="tel" id="phone" class="form-control" asp-for="HomePhoneNumber">
                                    <label class="form-control-placeholder" for="phone">Phone Number</label>
                                    <span asp-validation-for="HomePhoneNumber" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="address" class="form-control" asp-for="Address">
                                    <label class="form-control-placeholder" for="address">Street Address</label>
                                    <span asp-validation-for="Address" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="number" id="zip" class="form-control" asp-for="ZipCode">
                                    <label class="form-control-placeholder" for="zip">Zip Code</label>
                                    <span asp-validation-for="ZipCode" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <div class="row mt-5">
                        <div class="col-6 ">
                        </div>
                        <div class="col-6 ">
                            <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                    class="btn btn-primary form-btn continue"
                                    type="submit">
                                <span>Submit</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col">
                            <div class="checkbox checkbox-success">
                                <input id="leadid_tcpa_disclosure" type="checkbox">
                                <label for="leadid_tcpa_disclosure">
                                    <strong>By clicking Submit, you agree to our <a href="/privacy-policy" target="_blank">Privacy Policy</a></strong>.<br>You further provide your express consent by electronic signature to be contacted by Trusted Consumer and our <a href="javascript:void(0);" data-toggle="modal" data-target="#providers" id="show_providers">providers</a> agents via: automated telephone dialing systems, artificial or prerecorded voices, by email, SMS text message or live agent to the phone number provided. Your phone carrier's message and data rates may apply. I understand I can revoke this consent at any time and consent is not required as a condition of purchase.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
                <div class="insurance-type wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="helpline-TN">
                                        <div class="fa fa-phone"></div>
                                        <div class="helpline">
                                            <p>Want to speak to someone now?</p>
                                            <h3 class="LPScriptNumber">(833) 286-3623</h3>
                                        </div>
                                    </div>
                                    <h3>Looking for a better <strong>Health Insurance</strong> experience</h3>
                                    <p><strong>FindQualityInsurance.com</strong> can connect you with the leading carriers. Fill out the form or call us to get started!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(".Genderbtn1").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=Gender]").attr('checked', true);
            }
            $(".Genderbtn2").removeClass("active");
            $(this).addClass("active");
            $('#GenderId').val(1);
        });
        $(".Genderbtn2").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=Gender]").attr('checked', true);
            }

            $(".Genderbtn1").removeClass("active");
            $(this).addClass("active");
            $('#GenderId').val(2);
        });
</script>