 <!-- Health insurance form -->
<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form action="">
                    <div class="row">

                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" required>
                                    <label class="form-control-placeholder" for="fname">First name </label>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" required>
                                    <label class="form-control-placeholder" for="lname">Last name</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Gender</label>
                                <div class="gender_option">
                                    <label class="Lbtn btn1 active" role="button">
                                        <input class="check" type="radio" value="Male" name="Gender" checked="checked"> Male
                                    </label>
                                    <label class="Lbtn btn1" role="button">
                                        <input class="check" type="radio" value="Female" name="Gender"> Female
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="tel" id="phone" class="form-control" required>
                                    <label class="form-control-placeholder" for="phone">Phone Number</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="address" class="form-control" required>
                                    <label class="form-control-placeholder" for="address">Street Address</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="number" id="zip" class="form-control" required>
                                    <label class="form-control-placeholder" for="zip">Zip Code</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                    </div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne" class="btn btn-primary form-btn back" type="button"><span>Back</span></button>
                        </div>
                        <div class="col-6 ">
                            <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne" class="btn btn-primary form-btn continue" type="button"><span>Continue</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col">
                            <div class="checkbox checkbox-success">
                                <input id="leadid_tcpa_disclosure" type="checkbox">
                                <label for="leadid_tcpa_disclosure">
                                    <strong>By clicking Submit, you agree to our <a href="/privacy-policy" target="_blank">Privacy Policy</a></strong>.<br>You further provide your express consent by electronic signature to be contacted by Trusted Consumer and our <a href="javascript:void(0);" data-toggle="modal" data-target="#providers" id="show_providers">providers</a> agents via: automated telephone dialing systems, artificial or prerecorded voices, by email, SMS text message or live agent to the phone number provided. Your phone carrier's message and data rates may apply. I understand I can revoke this consent at any time and consent is not required as a condition of purchase.
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
                <div class="insurance-type wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="helpline-TN">
                                        <div class="fa fa-phone"></div>
                                        <div class="helpline">
                                            <p>Want to speak to someone now?</p>
                                            <h3 class="LPScriptNumber">(833) 286-3623</h3>
                                        </div>
                                    </div>
                                    <h3>Looking for a better <strong>Health Insurance</strong> experience</h3>
                                    <p><strong>FindQualityInsurance.com</strong> can connect you with the leading carriers. Fill out the form or call us to get started!</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>