@model DTO.MedicareDTO.MedicareDTO;


@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="post" action="@Url.Action("MedicareInsurance","Insurance")">
                    <div class="row">
                        <input type="hidden" asp-for="IPAddress" />
                        <input type="hidden" asp-for="GenderId" value="1" />
                        <input type="hidden" asp-for="Smoker" value="1" />
                        <input type="hidden" asp-for="Uninsurable" value="1" />
                        <input type="hidden" asp-for="CurrentlyInsured" value="1" />
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" asp-for="FirstName">
                                    <label class="form-control-placeholder" for="fname">First name </label>
                                    <span asp-validation-for="FirstName" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" asp-for="LastName">
                                    <label class="form-control-placeholder" for="lname">Last name</label>
                                    <span asp-validation-for="LastName" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="address" class="form-control" asp-for="Address">
                                    <label class="form-control-placeholder" for="address">Address</label>
                                    <span asp-validation-for="Address" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="city" class="form-control" asp-for="City">
                                    <label class="form-control-placeholder" for="city">City</label>
                                    <span asp-validation-for="City" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="text" id="state" class="form-control" asp-for="State">
                                    <label class="form-control-placeholder" for="state">State</label>
                                    <span asp-validation-for="State" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="number" id="zip" class="form-control" asp-for="ZipCode">
                                    <label class="form-control-placeholder" for="zip">Zip code</label>
                                    <span asp-validation-for="ZipCode" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="tel" id="phone" class="form-control" asp-for="HomePhoneNumber">
                                    <label class="form-control-placeholder" for="phone">Homephone</label>
                                    <span asp-validation-for="HomePhoneNumber" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" asp-for="Email">
                                    <label class="form-control-placeholder" for="email">Email</label>
                                    <span asp-validation-for="Email" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group mb-1">
                                <div class="form-group">
                                    <input type="date" id="date" class="form-control" asp-for="DOB">
                                    <label class="form-control-placeholder" for="date">Date of birth</label>
                                    <span asp-validation-for="DOB" class="text-danger dash-error-txt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Gender</label>
                                <div class="gender_option">
                                    <label class="Lbtn Genderbtn1 active" role="button">
                                        <input class="check" type="radio" value="Male" name="Gender"
                                               checked="checked"> Male
                                    </label>
                                    <label class="Lbtn Genderbtn2" role="button">
                                        <input class="check" type="radio" value="Female" name="Gender"> Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Uninsurable</label>
                                <div class="gender_option">
                                    <label class="Lbtn Uninsurable1 active" role="button">
                                        <input class="check" type="radio" value="Yes" name="condition"
                                               checked="checked"> Yes
                                    </label>
                                    <label class="Lbtn Uninsurable2" role="button">
                                        <input class="check" type="radio" value="No" name="condition"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Smoker</label>
                                <div class="gender_option">
                                    <label class="Lbtn PreExisting1 active" role="button">
                                        <input class="check" type="radio" value="Yes" name="condition"
                                               checked="checked"> Yes
                                    </label>
                                    <label class="Lbtn PreExisting2" role="button">
                                        <input class="check" type="radio" value="No" name="condition"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Currently Insurance</label>
                                <div class="gender_option">
                                    <label class="Lbtn btnc1 active" role="button">
                                        <input class="check" type="radio" value="Yes" name="condition"
                                               checked="checked"> Yes
                                    </label>
                                    <label class="Lbtn btnc2" role="button">
                                        <input class="check" type="radio" value="Yes" name="condition"> Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col">
                            <div class="checkbox checkbox-success">
                                <input id="leadid_tcpa_disclosure" type="checkbox" checked asp-for="InstructionCheck">
                                <label for="leadid_tcpa_disclosure">
                                    <strong>By clicking Submit, you agree to our <a href="/privacy-policy" target="_blank">Privacy Policy</a></strong>.<br>You further provide your express consent by electronic signature to be contacted by Trusted Consumer and our <a href="javascript:void(0);" data-toggle="modal" data-target="#providers" id="show_providers">providers</a> agents via: automated telephone dialing systems, artificial or prerecorded voices, by email, SMS text message or live agent to the phone number provided. Your phone carrier's message and data rates may apply. I understand I can revoke this consent at any time and consent is not required as a condition of purchase.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6 ">
                            </div>
                            <div class="col-6 ">
                                <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                        class="btn btn-primary form-btn continue"
                                        type="submit">
                                    <span>Submit</span>
                                </button>
                            </div>
                        </div>
</form>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
                <div class="insurance-type wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="helpline-TN">
                                        <div class="fa fa-phone"></div>
                                        <div class="helpline">
                                            <p>Want to speak to someone now?</p>
                                            <h3 class="LPScriptNumber">(833) 286-3623</h3>
                                        </div>
                                    </div>
                                    <h3>Looking for a better <strong>Health Insurance</strong> experience</h3>
                                    <p>
                                        <strong>FindQualityInsurance.com</strong> can connect you with the leading
                                        carriers. Fill out the form or call us to get started!
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(".Genderbtn1").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=Gender]").attr('checked', true);
            }
            $(".Genderbtn2").removeClass("active");
            $(this).addClass("active");
            $('#GenderId').val(1);
        });
        $(".Genderbtn2").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=Gender]").attr('checked', true);
            }

            $(".Genderbtn1").removeClass("active");
            $(this).addClass("active");
            $('#GenderId').val(2);
        });

        $(".PreExisting1").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=condition]").attr('checked', true);
            }
            $(".PreExisting2").removeClass("active");
            $(this).addClass("active");
            $('#Smoker').val(1);
        });
        $(".PreExisting2").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=condition]").attr('checked', true);
            }
            $(".PreExisting1").removeClass("active");
            $(this).addClass("active");
            $('#Smoker').val(2);
        });


        $(".Uninsurable1").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=condition]").attr('checked', true);
            }
            $(".Uninsurable2").removeClass("active");
            $(this).addClass("active");
            $('#Uninsurable').val(1);
        });
        $(".Uninsurable2").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=condition]").attr('checked', true);
            }
            $(".Uninsurable1").removeClass("active");
            $(this).addClass("active");
            $('#Uninsurable').val(2);
        });

        $(".btnc1").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=condition]").attr('checked', true);
            }
            $(".btnc2").removeClass("active");
            $(this).addClass("active");
            $('#CurrentlyInsured').val(1);
        });
        $(".btnc2").click(function () {
            if ($(this).hasClass('active')) {
                $("[name=condition]").attr('checked', true);
            }
            $(".btnc1").removeClass("active");
            $(this).addClass("active");
            $('#CurrentlyInsured').val(2);
        });


        const ipFormInput = document.getElementById('IPAddress');
        fetch('https://api.ipify.org?format=json')
            .then((response) => { return response.json() })
            .then((json) => {
                const ip = json.ip;
                ipFormInput.value = ip;
            })
            .catch((err) => { console.error(`Error getting IP Address: ${err}`) })


    </script>

}