<div class="hi_form">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form action="">
                    <div class="row">

                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="fname" class="form-control" required>
                                    <label class="form-control-placeholder" for="fname">First name </label>
                                </div>
                            </div>
                        </div>
                        <!--  -->

                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="lname" class="form-control" required>
                                    <label class="form-control-placeholder" for="lname">Last name</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="address" class="form-control" required>
                                    <label class="form-control-placeholder" for="address">Address</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="city" class="form-control" required>
                                    <label class="form-control-placeholder" for="city">City</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="text" id="state" class="form-control" required>
                                    <label class="form-control-placeholder" for="state">State</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="number" id="zip" class="form-control" required>
                                    <label class="form-control-placeholder" for="zip">Zip code</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="tel" id="phone" class="form-control" required>
                                    <label class="form-control-placeholder" for="phone">Homephone</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="email" id="email" class="form-control" required>
                                    <label class="form-control-placeholder" for="email">Email</label>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <div class="col-12 col-md-6">
                            <div class="form_groups input-group">
                                <div class="form-group">
                                    <input type="date" id="date" class="form-control" required>
                                    <label class="form-control-placeholder" for="date">Date of birth</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Gender</label>
                                <div class="gender_option">
                                    <label class="Lbtn btn1 active" role="button">
                                        <input class="check" type="radio" value="Male" name="Gender"
                                               checked="checked"> Male
                                    </label>
                                    <label class="Lbtn btn1" role="button">
                                        <input class="check" type="radio" value="Female" name="Gender"> Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="gender">
                                <label class="label_gender">Uninsurable</label>
                                <div class="gender_option">
                                    <label class="Lbtn btn2 active" role="button">
                                        <input class="check" type="radio" value="Yes" name="condition"
                                               checked="checked"> Yes
                                    </label>
                                    <label class="Lbtn btn2" role="button">
                                        <input class="check" type="radio" value="No" name="condition"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                    class="btn btn-primary form-btn back" type="button">
                                <span>Back</span>
                            </button>
                        </div>
                        <div class="col-6 ">
                            <button data-next-id="slide2" validationdiv="slide1" id="shortHealthSlideOne"
                                    class="btn btn-primary form-btn continue"
                                    type="button">
                                <span>Continue</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--  -->
            <div class="col-12 col-md-4">
                <div class="insurance-type wpb_column vc_column_container vc_col-sm-4">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <div class="helpline-TN">
                                        <div class="fa fa-phone"></div>
                                        <div class="helpline">
                                            <p>Want to speak to someone now?</p>
                                            <h3 class="LPScriptNumber">(833) 286-3623</h3>
                                        </div>
                                    </div>
                                    <h3>Looking for a better <strong>Health Insurance</strong> experience</h3>
                                    <p>
                                        <strong>FindQualityInsurance.com</strong> can connect you with the leading
                                        carriers. Fill out the form or call us to get started!
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>s